@font-face {font-family: ProximaNova; src: url('fonts/ProximaNova-light.otf');}

body {
  padding: 0;
  margin: 0;
  font-family: ProximaNova;
  color: white;
}

h1 {
  margin: 0;
}

/*EDEN HEADER*/
#header {
  background-color: #347CED;
  height: 10%;
}

#headerText {
  padding-top: 15px;
  text-align: center;
}

/*CHATBOX*/
.container{
	margin: 3px auto;
  width: 60%;
  height: 70%;
  border: 2px solid  #347CED;
  border-radius: 2px;
  color: black;
  position: relative;
}

li {
  cursor: pointer;
  background-color: #FAFAFA;
  font-size: 20px;
  list-style-type: none;
  padding: 10px 0;
  margin: 3px 0;
  width: 100%;
}

input {
  font-size: 20px;
  outline: none;
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  border-top-color: #347CED;
}

ul {
  display: block;
  text-align: center;
  padding: 0;
}

#branchID{
	text-align: center;
	list-style-type: none;
  padding-top: 15px;
}

button{
  cursor: pointer;
  border: none;
  border: 1px solid #347CED;
  margin-left: 15px;
  margin-top: 15px;
  padding: 5px;
  background-color: white;
  color: black;
  outline: none;
  font-size: 10px;
}

#backButton {
  position: absolute;
}

#branchID {
  text-align: center;
  font-size: 2em;
}

.hidden{
	width:10%;
}

.bar{
	width:85%;
	padding-right:20px;
}

